body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(164, 189, 201, 0.645);
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 80vh; 
}

#map, #barChart {
    flex: 1;
    height: 600px; 
}

#map {
    width: 50%;
}

#barChart {
    width: 50%;
}

#stateSelect {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    font-size: 16px;
    font-weight: bold;
    color: #111114;
    background: linear-gradient(135deg, #f7b16b 0%, #f0e960 100%);
    border: 1px solid #eca529;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    text-align: center;
}

#stateSelect:hover {
    background: linear-gradient(135deg, #fdf185 0%, #f6ba65 100%);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

#stateSelect:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 10;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}

.title {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.buttons-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.map-title {
    text-align: middle;
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 10px;
    text-decoration: underline;
    text-anchor: middle;
}

#mapTitle {
    position: absolute;
    top: 150px;
    left: 400px;
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
}

.table-container {
    position: absolute;
    top: 42px; 
    right: 80px; 
    text-align: center;
    font-weight: bold;
}

.table-container table {
    border-collapse: collapse;
}

.table-container td {
    padding: 10px 20px;
    border: 1px solid #151311;
}

.table-container td:first-child {
    cursor: pointer;
    color: rgb(239, 134, 53);
}

.animated-text {
    animation: bounceText 2s infinite;
}

.animated-arrow {
    animation: moveArrow 1s infinite alternate;
    font-size: 2em;
}

@keyframes bounceText {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}
